.alertdialog {
  --alertdialog-background: var(--black);
  background: var(--alertdialog-background);
  border: 1px solid var(--purple-900);
  border-radius: 1em;
  box-shadow: 0 0 0 6px var(--purple-200), var(--shadow-elevation-medium);
  display: none;
  margin-top: -4rem;
  max-width: 600px;
  padding: 2rem 6em;
  position: absolute;
  top: 4.75em;
}

.alertdialog.open {
  display: block;
}
