.breadcrumb {
}

.breadcrumb .item {
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.breadcrumb .item:focus,
.breadcrumb .item:hover {
  color: var(--yellow);
}

.breadcrumb .item:last-child {
  color: var(--greySecondary);
  pointer-events: none;
}

.breadcrumb .item:not(:last-child):after {
  --arrow-size: 10px;
  background-color: var(--purpleSecondary);
  content: '';
  display: inline-block;
  height: var(--arrow-size);
  margin: 0 var(--arrow-size);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
  mask-size: var(--arrow-size);
  width: var(--arrow-size);
}
