@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './dracula-colors.css';

@import './dark-mode.css';
@import './sidebar.css';

/** component examples **/
@import './accordion.css';

@import '../../src/matchers/toBeAccessibleSwitch/examples/switch.css';

:root {
  --doc-sidebar-width: 320px !important;

  --ifm-background-color: white;

  --ifm-color-primary: var(--purple);
  --ifm-color-primary-dark: #4e22b5;
  --ifm-color-primary-darker: #4a20ab;
  --ifm-color-primary-darkest: #3d1b8d;
  --ifm-color-primary-light: #622fd8;
  --ifm-color-primary-lighter: #6939da;
  --ifm-color-primary-lightest: #8057df;

  --font-family-sans: 'Poppins', 'Inconsolata', monospace;
  --font-family-monospace: 'Inconsolata', monospace;

  --ifm-heading-font-family: var(--font-family-sans);

  --ifm-font-family-base: var(--font-family-sans);
  --ifm-font-size-base: 16px !important;

  --ifm-font-family-monospace: var(--font-family-monospace);

  /* alert */
  --ifm-alert-border-radius: 0;

  /* menu */
  --ifm-menu-color: var(--grey);
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-active: var(--ifm-color-primary);

  /* navbar */
  --ifm-navbar-height: 80px;
  --ifm-navbar-background-color: #fff;
  --ifm-navbar-shadow: 1px 1px #fff;
}

:root {
  --shadow-color: 265deg 44% 3%;
  --shadow-elevation-low: 0px 0.3px 0.2px hsl(var(--shadow-color) / 0.69), 0px 0.4px 0.3px -2.5px hsl(var(--shadow-color) / 0.46),
    0px 1.3px 1px -5px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-medium: 0px 0.3px 0.2px hsl(var(--shadow-color) / 0.72), 0px 0.6px 0.5px -1.7px hsl(var(--shadow-color) / 0.54),
    0px 2.2px 1.7px -3.3px hsl(var(--shadow-color) / 0.36), 0.1px 6.5px 4.9px -5px hsl(var(--shadow-color) / 0.18);
  --shadow-elevation-high: 0px 0.3px 0.2px hsl(var(--shadow-color) / 0.67), 0px 0.4px 0.3px -0.7px hsl(var(--shadow-color) / 0.59),
    0px 1.1px 0.8px -1.4px hsl(var(--shadow-color) / 0.5), 0px 2.9px 2.2px -2.1px hsl(var(--shadow-color) / 0.42),
    0.1px 6.3px 4.7px -2.9px hsl(var(--shadow-color) / 0.34), 0.1px 12.1px 9.1px -3.6px hsl(var(--shadow-color) / 0.25),
    0.2px 20.6px 15.5px -4.3px hsl(var(--shadow-color) / 0.17), 0.4px 32.5px 24.4px -5px hsl(var(--shadow-color) / 0.08);
}

html h1 {
  --ifm-heading-font-weight: 800;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

html .markdown > h2,
html .markdown > h3 {
  --ifm-heading-font-weight: 600;
}

.markdown {
  --ifm-h1-vertical-rhythm-top: 6;
  --ifm-h2-vertical-rhythm-top: 4;
  --ifm-h3-vertical-rhythm-top: 3;
  --ifm-heading-vertical-rhythm-top: 2.5;
  --ifm-h1-vertical-rhythm-bottom: 2.5;
  --ifm-heading-vertical-rhythm-bottom: 2;
}

.welcome-h1 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.intro-text {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
}

.stack-blitz-editor {
  background-color: #2f3138; /* #212327; */
  border-radius: 4px;
  box-shadow: 0 0 0 black;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease-in-out;
}
.stack-blitz-editor:hover {
  box-shadow: var(--shadow-elevation-high);
}

.stack-blitz-editor-bar {
  padding: 10px;
}

html code {
  vertical-align: unset;
}

html kbd {
  box-shadow: inset 0 -2px 0 var(--ifm-color-emphasis-400);
  font-size: 90%;
  padding: 0px 4px 2px;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  /** Container */
  .container article {
    padding: var(--ifm-spacing-vertical) calc(8 * var(--ifm-spacing-horizontal));
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

.code-block-comment-fail span {
  color: #b0b6bb;
  display: inline-block;
}

.code-block-comment-fail span::first-letter {
  color: var(--red);
}

.code-block-comment-pass span {
  color: #b0b6bb;
  display: inline-block;
}

.code-block-comment-pass span::first-letter {
  color: var(--green);
}

.code-block-error-line {
  background-color: #fc929e20;
  border-left: 3px solid #fc929e80;
}

.code-block-success-line {
  background-color: #8dc89120;
  border-left: 3px solid #8dc89180;
}

.code-block-test-caution span {
  color: #b0b6bb;
  display: inline-block;
}

.code-block-test-caution span:first-letter {
  color: var(--yellow);
}

.code-block-test-fail span {
  color: #b0b6bb;
  display: inline-block;
}

.code-block-test-fail span:first-letter {
  color: var(--red);
}

.code-block-test-pass span {
  color: #b0b6bb;
  display: inline-block;
}

.code-block-test-pass span:first-letter {
  color: var(--green);
}

.code-block-error-line {
  background-color: #fc929e20;
  border-left: 3px solid #fc929e80;
}

.code-block-success-line {
  background-color: #8dc89120;
  border-left: 3px solid #8dc89180;
}

.header-github-link:before {
  /* prettier-ignore */
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-github-link:before {
  /* prettier-ignore */
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

/* Navbar */
.navbar {
  /* border-bottom: 1px solid var(--grey); */
  padding: calc(2 * var(--ifm-navbar-padding-vertical)) var(--ifm-navbar-padding-horizontal);
}

/* Sideber */
.theme-doc-sidebar-menu {
  font-size: 0.9rem;
  padding: 1.5rem;
}

/* Tabs */
.tabs {
  font-weight: 500;
}

.menu__list > .menu__list-item > .menu__list {
  padding-left: 0;
}

.menu__link {
  font-weight: 400;
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link,
.theme-doc-sidebar-item-link-level-1 > .menu__link {
  font-weight: 600;
}

/** Admonition */
.theme-admonition {
  --ifm-alert-border-left-width: 3px;
  --ifm-alert-padding-horizontal: 32px;
  --ifm-alert-padding-vertical: 24px;
  margin: 3em 0 4em -32px !important;
  position: relative;
  text-transform: initial !important;
}
.theme-admonition > div {
  font-size: 0.9em;
  text-transform: initial !important;
}

.theme-admonition .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module {
  margin-bottom: 1em;
}
.theme-admonition .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module > span {
  --svg-size: 1.6em; /* this is taken from the docusaurus theme */
  --icon-padding: 0.5em;
  --ifm-alert-foreground-color: var(--ifm-alert-border-color);
  --circle-size: calc(var(--svg-size) + 2 * var(--icon-padding));
  background-color: var(--ifm-background-color);
  border-radius: 40px;
  padding: var(--icon-padding);
  left: calc(-0.5 * var(--circle-size) - var(--ifm-alert-border-left-width));
  position: absolute;
  top: calc(-0.5 * var(--circle-size));
  height: var(--circle-size);
  width: var(--circle-size);
}

/** Example Container **/
.example {
  background-color: var(--greyLight);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 3em 0 4em;
  padding: 4em;
}
