html[data-theme='dark'] {
  --ifm-background-color: #1d1e26;
  --ifm-background-surface-color: #121212;
  --ifm-color-primary: var(--purple);

  --ifm-tabs-color: white;
  --ifm-tabs-color-active: var(--cyan);
}

html[data-theme='dark'] code {
  --ifm-code-background: var(--cyan-100);
  color: var(--cyan-900);
}

html[data-theme='dark'] kbd {
  background-color: var(--blackSecondary);
  border-color: var(--greySecondary);
  box-shadow: inset 0 -2px 0 var(--greySecondary);
  color: var(--purpleSecondary);
}

html[data-theme='dark'] h1,
html[data-theme='dark'] h2 {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100%;
  -webkit-box-decoration-break: clone;
  width: max-content;
}

html[data-theme='dark'] h1 {
  /* --gradientDegree: 90deg; */
  --start-color: var(--purple);
  --end-color: var(--cyan);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradientDegree)),
    color-stop(0, var(--start-color)),
    to(var(--end-color))
  );
  background-image: -webkit-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: -moz-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
}

html[data-theme='dark'] h2 {
  /* --gradientDegree: 90deg; */
  --start-color: var(--cyan);
  --end-color: var(--green);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradientDegree)),
    color-stop(0, var(--start-color)),
    to(var(--end-color))
  );
  background-image: -webkit-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: -moz-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
}

html[data-theme='dark'] #guarantee_bar {
  background-color: var(--blackSecondary);
  color: var(--greySecondary);
}

html[data-theme='dark'] .intro-text strong {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100%;
  -webkit-box-decoration-break: clone;
  width: max-content;
  --start-color: var(--purple);
  --end-color: var(--purpleSecondary);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradientDegree)),
    color-stop(0, var(--start-color)),
    to(var(--end-color))
  );
  background-image: -webkit-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: -moz-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
}

html[data-theme='dark'] .alert--warning {
  --ifm-alert-background-color: var(--yellow-200);
  --ifm-alert-background-color-highlight: red;
  --ifm-alert-foreground-color: var(--yellow);
  --ifm-alert-border-color: var(--yellow);
}

.announcementBar_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module {
  background-color: var(--black) !important;
  color: var(--white) !important;
  --start-color: var(--purple-100);
  --end-color: var(--purple-800);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradientDegree)),
    color-stop(0, var(--start-color)),
    to(var(--end-color))
  );
  background-image: -webkit-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: -moz-linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  background-image: linear-gradient(var(--gradientDegree), var(--start-color) 0, var(--end-color) 100%);
  font-size: 1.2rem;
  padding: 1.4rem !important;
}
