.switch-wrapper {
  --size: 2em;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: var(--size);
  justify-content: center;
  position: relative;
}

.switch {
  background-color: var(--greyTernary);
  height: calc(8px + var(--size));
  width: calc(8px + var(--size));
  border-radius: calc(2 * var(--size));
  cursor: pointer;
  height: calc(8px + var(--size));
  outline: none;
  padding: 4px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  width: calc(8px + 2 * var(--size));
}

.switch:after {
  background-color: var(--greySecondary);
  border-radius: var(--size);
  content: '';
  display: inline-block;
  height: var(--size);
  left: 0;
  position: relative;
  transition: left 0.2s ease-out;
  width: var(--size);
}

.switch:hover,
.switch:focus {
  box-shadow: 0px 0px 0 4px var(--white), 0px 0px 0 6px var(--purple);
}

.switch.on {
  background: var(--purple-cyan);
}

.switch.on:after {
  left: var(--size);
}

.switch-wrapper.small {
  --size: 20px;
}

.switch-wrapper.small .switch {
  height: 3px;
}

.switch-wrapper.small .switch:after {
  top: calc(-0.5 * var(--size));
}

html[data-theme='dark'] .switch:after {
  background-color: white;
}

html[data-theme='dark'] .switch:hover,
html[data-theme='dark'] .switch:focus {
  background-color: var(--greySecondary);
  box-shadow: 0px 0px 0 4px var(--black), 0px 0px 0 6px white;
}

html[data-theme='dark'] .switch-wrapper.small .switch:hover,
html[data-theme='dark'] .switch-wrapper.small .switch:focus {
  background-color: var(--greySecondary);
  box-shadow: 0px 0px 0 8px var(--black), 0px 0px 0 10px var(--greyTernary);
}
