.test-runner {
  --prism-background-color: #282a36;
  --prism-color: #f8f8f2;
  --padding-x: 1.5em;
  --padding-y: 1em;
  background: var(--prism-background-color);
  border-radius: calc(2 * var(--ifm-pre-border-radius));
  color: var(--prism-color);
  font-family: var(--ifm-font-family-monospace);
  display: grid;
  grid-template-columns: 7fr 9fr;
  margin: 0 -3em;
  overflow: hidden;
}

.test-runner pre.prism-code {
  background-color: transparent !important;
  font-size: 90%;
  font-weight: 500;
  line-height: calc(1.8rem * 0.8);
  height: 100%;
  margin: 0 !important;
  /* override react-live inline styles */
  padding: var(--padding-y) var(--padding-x) !important;
}

.test-runner .test-runner-title {
  background-color: var(--grey);
  border-bottom: 1px solid var(--grey);
  font-size: 80%;
  font-weight: 600;
  grid-column: 1 / 3;
  padding: var(--padding-y) var(--padding-x);
}

.test-runner .live-editor,
.test-runner .test-summary {
  min-width: 0;
}

.test-runner .test-summary {
  border-left: 1px solid var(--grey);
  border-radius: 0;
}

.test-runner .test-summary strong {
  color: var(--green);
  font-weight: 800;
}

.test-runner .test-summary strong.failed {
  color: var(--red);
}

.test-runner .test-summary pre {
  padding-left: 1em !important;
}

.test-runner .test-summary pre code {
  padding: 0;
}
